.button {
    background-color: $brown;
    width: 180px;
    height: 50px;
    line-height: 50px;
    
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    font-size: 24px;
    
    display: inline-block;
    border: none;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;

    &:hover {
        background-color: $text;
    }



    @media (max-width: 1500px) {
        width: 160px;
    }
}

/* ------------------------------------ */
/*  SLICK ARROWS  */
.slick-arrow,
.slick-arrow:focus,
.slick-arrow:active,
.slick-arrow:hover {
    width: 70px;
    height: 90px;
    z-index: 10;
    @include transition(all, .2s);
    background-color:  $brown;
    -webkit-border-radius: 2px;
            border-radius: 2px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -webkit-background-size: 23px 20px;
         -o-background-size: 23px 20px;
            background-size: 23px 20px;
    @media (max-width: 800px) {
        width: 50px;
        height: 70px;
    }
    @media (max-width: 600px) {
        width: 30px;
        height: 50px;
        -webkit-background-size: 16px 16px;
         -o-background-size: 16px 16px;
            background-size: 16px 16px;
    }
    &:before {
        display: none;
    }
}
.slick-arrow:hover {
    opacity: .8;
}
.slick-next,
.slick-next:hover,
.slick-next:focus {
    right: 0;
    background-image: url("../images/right-arrow.svg");
}
.slick-prev,
.slick-prev:hover,
.slick-prev:focus {
    left: 0;
    background-image: url("../images/left-arrow.svg");
}





form {
    .form-group {
        display: block;

        &:not(:last-child) {
            margin-bottom: 20px;
        }

        &.button-group {
            margin-bottom: 0;
        }
    }

    input,
    textarea {
        background-color: transparent;
        border: 1px solid $grey;
        padding: 0 15px;
        display: block;
        width: 100%;
        height: 50px;
        font-size: 16px;
        color: #828282;
        font-weight: 300;
    }

    textarea {
        height: 150px;
        padding-top: 15px;
        resize: none;
    }

    .button {
        width: 100%;
    }
}