.section-person {
    .wrapper {
        position: relative;
        padding: 130px 0;
        text-align: left;
    }

    .person-img {
        position: absolute;
        bottom: 0;
        right: 15px;
    }


    .person-title {
        font-family: $v;
        font-size: 30px;
    }

    .person-position {
        font-weight: 700;
        color: $grey;
        font-style: italic;
        font-size: 24px;
        margin-bottom: 25px;
    }
}



.why-block {
    &__link {
        display: block;
        padding: 32px 65px;
        background-color: #efefef;
        color: $text;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
        font-size: 24px;

        &:not(:last-child) {
            margin-bottom: 30px;
        }

        &:hover {
            background-color: $text;
            color: #fff;
        }

        span {
            width: 50%;
            display: block;

            @media (max-width: 1800px) {
                width: 75%;
            }

            @media (max-width: 1500px) {
                width: 100%;
            }
        }
    }

    .bg {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-right: 15px solid #fff;
        border-left: 15px solid #fff;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }


    [class*='col-'] {
        position: relative;
    }
}




.clients-section {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    padding-bottom: 70px;



    .logos {
        &-item {
            img {
                margin: 0 auto;
            }

            .normal {
                display: block;
            }
            .hover {
                display: none;
            }

            &:hover {
                .normal {
                    display: none;
                }
                .hover {
                    display: block;
                }
            }
        }
    }
}