.section-person {
    .wrapper {
        position: relative;
        padding: 130px 15px;
        text-align: left;
        z-index: 1;

        @media (max-width: 991px) {
            padding: 70px 15px 70px;
        }
        @media (max-width: 599px) {
            padding-bottom: 0;
        }
    }

    .person-img {
        position: absolute;
        bottom: 0;
        right: 15px;
        z-index: -1;

        @media (max-width: 1200px) {
            max-width: 50%;
        }

        @media (max-width: 991px) {
            max-width: 45%;
        }

        @media (max-width: 599px) {
            position: static;
            display: block;
            margin: 15px 0 0 auto;
            max-width: 270px;
        }
    }


    .person-title {
        font-family: $v;
        font-size: 30px;
        font-weight: normal;

        @media (max-width: 599px) {
            font-size: 25px;
        }
    }

    .person-position {
        font-weight: 700;
        color: $grey;
        font-style: italic;
        font-size: 24px;
        margin-bottom: 25px;

        @media (max-width: 599px) {
            font-size: 20px;
        }
    }
}



.why-block {
    @media (max-width: 991px) {
        padding: 0 5px;


        .image-column,
        .links-column {
            -ms-flex-preferred-size: 100%;
            -webkit-flex-basis: 100%;
            flex-basis: 100%;
            max-width: 100%;
        }

        .links-column {
            @include flex($ai: stretch);
            padding-top: 5px;
        }
    }

    @media (max-width: 599px) {
        .links-column {
            padding-left: 25px;
            padding-right: 25px;
        }
    }

    &__link {
        display: block;
        padding: 32px 65px;
        background-color: #efefef;
        color: $text;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
        font-size: 24px;

        @media (max-width: 1200px) {
            font-size: 20px;
            padding: 20px;
        }

        @media (max-width: 991px) {
            font-size: 18px;
            width: -webkit-calc(50% - 20px);
            width: calc(50% - 20px);
            margin: 10px!important;
        }

        @media (max-width: 599px) {
            padding: 10px;
        }

        @media (max-width: 450px) {
            width: 100%;
            margin: 10px 0!important;
        }

        &:not(:last-child) {
            margin-bottom: 30px;
        }

        &:hover {
            background-color: $text;
            color: #fff;
        }

        span {
            width: 50%;
            display: block;

            @media (max-width: 1800px) {
                width: 75%;
            }

            @media (max-width: 1500px) {
                width: 100%;
            }
        }
    }

    .bg {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-right: 15px solid #fff;
        border-left: 15px solid #fff;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;

        @media (max-width: 991px) {
            width: 100%;
            position: static;
            border-width: 10px;

            &:before {
                content: '';
                width: 100%;
                padding-top: 40%;
                display: block;
            }
        }
    }


    [class*='col-'] {
        position: relative;
    }
}




.clients-section {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    padding-bottom: 70px;



    .logos {
        &-item {
            padding: 0 10px;
            max-width: 25%;

            @media (max-width: 599px) {
                max-width: 50%;
                margin-top: 10px;
                margin-bottom: 10px;
            }

            img {
                margin: 0 auto;
                max-width: 100%;
            }

            .normal {
                display: block;
            }
            .hover {
                display: none;
            }

            &:hover {
                .normal {
                    display: none;
                }
                .hover {
                    display: block;
                }
            }
        }
    }
}