// COLORS
// ---------------------------
$text:                  #181b29;
$grey:                  #878787;
$brown:                 #996e31;

// FONTS
// ---------------------------
$rc:                    'Roboto Condensed';
$v:                     'Vidaloka';


// RESPONSIVE
// ---------------------------
